/* ----- POPPINS FONT Link ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* ----- VARIABLES ----- */
:root{
    --body-color: rgb(250, 250, 250);
   
    --color-white: rgb(255, 255, 255);

    --text-color-second: rgb(68, 68, 68);
    --text-color-third: #3AAFA9;

    --first-color: rgb(110, 87, 224);
    --first-color-hover: rgb(40, 91, 212);

    --second-color: rgb(0, 201, 255);
    --third-color: rgb(192, 166, 49);
    --first-shadow-color: rgba(0, 0, 0, 0.1);

}

/* ----- BASE ----- */
*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background-color: black; */
}

/* ----- SMOOTH SCROLL ----- */
html{
    scroll-behavior: smooth;
    
}

/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: #bbb;
}


/* ---##-- REUSABLE CSS --##--- */

/* ----- GLOBAL BUTTON DESIGN ----- */
.btn{
    font-weight: 500;
    padding: 12px 20px;
    background: #efefef;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}
.btn>i{
    margin-left: 10px;
}
.btn:hover{
    background: var(--second-color);
    color: var(--color-white);
}

/* ----- GLOBAL ICONS DESIGN ----- */
i{
    font-size: 16px;
}

/* ------- BASE -------- */
body{
    background: var(--body-color);
}
.container{
    width: 100%;
    position: relative;
    /* background-color: black; */
}

/* ----- NAVIGATION BAR ----- */
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 90px;
    line-height: 90px;
    background: var(--body-color);
    padding-inline: 9vw;
    transition: .3s;
    z-index: 100;
}
.nav-logo{
   position: relative;
}
.nav-name{
    font-size: 30px;
    font-weight: 600;
    color: var(--text-color-third);
}
.nav-logo span{
    position: absolute;
    top: -15px;
    right: -20px;
    font-size: 5em;
    color: var(--text-color-third);
}
.nav-menu, .nav_menu_list{
    display: flex;
}
.nav-menu .nav_list{
    list-style: none;
    position: relative;
}
.nav-link{
    text-decoration: none;
    color: var(--text-color-third);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}
.nav-menu-btn{
    display: none;
}
.nav-menu-btn i{
    font-size: 28px;
    cursor: pointer;
}
.active-link{
    position: relative;
    color: var(--second-color);
    transition: .3;
}
.active-link::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background: var(--second-color);
    border-radius: 50%;
}



/* ----- WRAPPER DESIGN ----- */
.wrapper{
    padding-inline: 3vw;
}

/* ----- FEATURED BOX ----- */
.featured-box{
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 700px;
}

/* ----- FEATURED TEXT BOX ----- */
.featured-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    flex-direction: column;
    width: 50%;
    padding-left: 20px;
}
.featured-text-info p{
    color: #acacac;
}

.featured-text-card span{
    background: var(--third-color);
    color: var(--color-white);
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 5px;
}
.name{
    font-size: 2rem;
  line-height: 2.6rem;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 200;
  font-family: "Nunito", sans-serif;
 
  /* color: #f5f5f5; */

    
}


.name p {
    color: var(--color-white);
}
.featured-name{
    font-size: 30px;
    font-weight: 600;
    color: var(--color-white);
    margin-block: 20px;
}
.featured-name p{
    color: var(--color-white);
}
.typedText{
    text-transform: capitalize;
    color: var(--text-color-third);
}
.featured-text-info{
    font-size: 15px;
    margin-bottom: 30px;
    color: var(--text-color-second);
}
.featured-text-btn{
    display: flex;
    gap: 20px;
}
.featured-text-btn a{
    color:var(--text-color-third) ;
}
.featured-text-btn>.blue-btn{
    background: var(--first-color);
    color: var(--color-white);
}
.featured-text-btn>.blue-btn:hover{
    background: var(--first-color-hover);
}
.social_icons{
    display: flex;
    margin-top: 2em;
    gap: 30px;
    margin-left: 45px;
}
.social_icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px 0px #3AAFA9;
    cursor: pointer;
    color:var(--text-color-third) ;
}
.social_icons a:hover{
    color: var( --second-color);
    box-shadow: 0px 5px 8px 1px #3AAFA9;
}

/* ----- FEATURED IMAGE BOX ----- */
.featured-image{
    display: flex;
    justify-content: right;
    align-content: center;
    min-height: 80vh;
    width: 50%;
}
.image{
    margin: auto 0;
    width: 380px;
    height: 380px;
    /* border-radius: 55% 45% 55% 45%; */
    border-radius: 50%;
    border: 5px solid #3AAFA9;
   
    overflow: hidden;
    /* animation: imgFloat 7s ease-in-out infinite; */
}
.image img{
    width: 380px;
    height: 380px;
    object-fit: cover;
}
@keyframes imgFloat {
    50%{
        transform: translateY(10px);
        border-radius: 45% 55% 45% 55%;
    }
}



.c{
    background-color: black;
}
.section {
    width: 100%;
    padding: 50px 20px;
    
}

.top-header {
    text-align: center;
    margin-bottom: 30px;
   
}

.top-header h1 {
    font-size: 2.5em;
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.col {
    flex: 1;
    max-width: 50%;
    padding: 20px;
}

.about-info {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 50px 60px;
    padding-inline: 20px;
    width: 140%;
    background: black;
    box-shadow: 1px 8px 10px 2px rgb(30, 159, 171);
    border-radius: 20px ;
    border: 10px sold white;
   
}

.about-info h3 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-info p {
    text-align: center;
    font-size: 20px;
    color:  rgb(224, 217, 217);
}

.about-btn {
    margin-top: 30px;
}

.about-btn a{
    color:var(--text-color-third) ;
    
} 

.about-btn button {
    background: var(--text-color-third);
    color: var(--color-white);
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.about-btn button:hover {
    background: var(--second-color);
}

.image-col img {
    width: 80%;
    border-radius: 20px;
    margin-left: 180px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
}

/* .skills-box {
    margin-top: 20px;
    background: var(--color-white);
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    border-radius: 20px;
    padding: 20px;
} */


body {
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.top-header {
    text-align: center;
    margin-bottom: 40px;
}

.container .top-header h1 {
    font-size: 36px;
    color: white;
}

.skills-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.skills-column {
    width: 100%;
}

.skills-box {
    margin-bottom: 20px;
    padding: 50px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px 8px 14px 5px rgb(30, 159, 171);
}

.skills-grid:hover {
    transform: scale(1.05);
}

.skills-box h3 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 24px;
    color: white;
    text-decoration: underline;
}

.skills-box h3 a {
    color: white;
}

.skills-box h3:hover {
    color: rgb(30, 159, 171);
    font-size: 27px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

.skill-item {
    text-align: center;
    cursor: pointer;
}

.skill-item img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto 5px;
}

.skill-item span {
    font-size: 16px;
    color: #666;
}

.skills-image {
    width: 35%;
}

.skills-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.more-content {
    display: none;
    margin-top: 20px;
}

.skill-more-content {
    display: none;
    margin-top: 10px;
}

.more-content p,
.skill-more-content p {
    color: #ddd;
}



/* 


.project-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-box {
    background: var(--color-white);
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    border-radius: 20px;
    padding: 20px;
    width: 200px;
    text-align: center;
    margin: 10px;
}

.project-box i {
    font-size: 2em;
    margin-bottom: 10px;
}

.project-box h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.project-box label {
    font-size: 0.9em;
    color: #777;
}


/* ----- PROJECTS BOX ----- */
/* .project-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
.project-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 250px;
    background: var(--color-white);
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow: hidden;
}
.project-box>i{
    font-size: 50px;
    color: #00B5E7;
    margin-bottom: 25px;
}
.project-box label{
    font-size: 15px;
    color: #777;
}
.project-box::after, .contact-info::after{
    content: "";
    position: absolute;
    bottom: -100%;
    background: var(--second-color);
    width: 100%;
    height: 100%;
    transition: .4s;
    z-index: 1;
}
.project-box:hover.project-box::after,
.contact-info:hover.contact-info::after{
    bottom: 0;
}
.project-box:hover.project-box i,
.project-box:hover.project-box>h3,
.project-box:hover.project-box>label{
    color: var(--color-white);
    z-index: 2;
} */


*, *::before, *::after {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #454545;
    font-weight: 400;
    background: #ffffff;
    margin: 0;
}

a {
    color: #333333;
    font-weight: 400;
    outline: none;
    text-decoration: none;
    transition: 0.5s;
}

.section {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%;
}

.top-header {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 45px 0 30px 0;
}

.top-header::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    background: #eeeeee;
}
.inner h2{
    margin-top: 10  0px;
}

.effect {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;

}

 .effect-img {
    font-size: 0;
    overflow: hidden;
    width: 100%; 
}

.effect .effect-img img {
    width: 100%;    

    height: auto;
    transition: all .3s;
}

.effect:hover .effect-img img {
    transform: scale(1.2);
}

.effect .effect-text {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    overflow: hidden;
    transition: all .3s ease-in;
    opacity: 0;
}

.effect .effect-text .inner {
    position: absolute;
    padding: 15px;
    z-index: 1;
}

.effect .effect-text:before,
.effect .effect-text:after {
    position: absolute;
    display: block;
    width: 100%;
    height: 0;
    content: '';
}

.effect .effect-text:before {
    border-top: 5px solid var( --text-color-third);
    border-right: 3px solid var( --text-color-third);
    left: -100%;
    top: 0;
}

.effect .effect-text:after {
    border-bottom: 3px solid  var( --text-color-third);
    border-left: 3px solid var( --text-color-third);
    left: 100%;
    bottom: 0;
}

.effect:hover .effect-text {
    opacity: 1;
}

.effect:hover .effect-text:after,
.effect:hover .effect-text:before {
    animation-delay: .1s;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.effect:hover .effect-text:after {
    animation-name: left-up;
}

.effect:hover .effect-text:before {
    animation-name: right-dn;
}

@-webkit-keyframes left-up {
    0% {
        left: 100%;
        height: 0;
    }
    50% {
        left: 0;
        height: 0;
    }
    100% {
        height: 100%;
        left: 0;
    }
}

@-webkit-keyframes right-dn {
    0% {
        left: -100%;
        height: 0;
    }
    50% {
        left: 0;
        height: 0;
    }
    100% {
        height: 100%;
        left: 0;
    }
}

.effect .effect-text h2 {
    height: 45px;
    color: #ffff;
    font-size: 25px;
    /* margin: 0; */
    margin-bottom:  30px;
}

.effect .effect-text p {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 20px;
}

.effect .effect-btn .btn {
    /* display: inline-block;
    height: 25px;
    padding: 3px 5px;
    color: #333333;
    background: #ffffff; */
  border: none;
  color: white;
  padding-left: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 4px; */
 border-radius: 20px;
 margin-top: 30px;
  
  transition-duration: 0.4s;
  cursor: pointer;
   background-color: white; 
  color: var(--text-color-third); 
  /* border-radius: 12px solid var(--text-color-third); */
   
}
.effect .effect-btn .btn:hover{
    color: white;
    background-color: var(--second-color);
}


@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
    .column {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .column {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .column {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}


   /* ------Experience---- */

   /* body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; 
    color: #fff; 
}

main {
    padding: 20px;
} */

.experience-section {
    /* background-color: #121212; Darker background for section */
    border-radius: 8px;
    padding: 20px;
    max-width: 1000px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: fadeInSection 1s ease-out;
}

@keyframes fadeInSection {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.experience-section h2 {
    color: #5fd7d9; /* Teal color for section heading */
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    position: relative;
    display: inline-block;
    animation: slideIn 1s ease-out;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.experience-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.experience-block {
    border: 1px solid #333; /* Border to separate block */
    padding: 20px;
    border-radius: 8px;
    background-color: #1e1e1e; /* Slightly lighter dark background for block */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
}
  
.experience-block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(95, 215, 217, 0.2);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    z-index: 0;
}

.experience-block:hover::before {
    transform: scaleX(1);
}

.experience-block:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.experience-header {
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}

.experience-header h3 {
    margin: 0;
    color: #5fd7d9; /* Teal color for company name */
    font-size: 1.5em;
}

.experience-header span {
    font-size: 1em;
    color: #bbb; /* Light gray for the internship details */
}

.experience-header h4 {
    margin: 0;
    color: #5fd7d9; /* Teal color for position */
    font-size: 1.2em;
}

.experience-block p {
    margin-top: 10px;
    line-height: 1.6;
    color: #ddd; /* Light gray for paragraph text */
    animation: fadeIn 1s ease-out;
    position: relative;
    z-index: 1;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .experience-container {
        grid-template-columns: 1fr;
    }
}



/* ----- CONTACT BOX ----- */
.contact-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
    height: 375px;
    background: black;
    border-radius: 10px;
    box-shadow: 1px 5px 10px 2px rgb(30, 159, 171);
    /* box-shadow: 0px 8px 14px 5px rgb(30, 159, 171); */
    overflow: hidden;
}
.contact-info>h2{
    color: var(--color-white);
    margin-bottom: 20px;
}
.contact-info>p {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-white);
    margin-block: 5px;
}
.contact-info p>i>{
    font-size: 18px;
}

.contact-info a{
    color: white;
}
/* .contact-info>p::after{
    font-size: large;
    background: #fff;
} */
.contact-info:hover.contact-info h2,
.contact-info:hover.contact-info p,
.contact-info:hover.contact-info i
.contact-info:hover.contact-info a{
    color: #3AAFA9;
    /* z-index: 2; */
    font-size: 20px;
   
}
.contact-info:hover.contact-info a{
    color: #3AAFA9;
}



/* ----- CONTACT FORM ----- */

.form-control{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.form-inputs{
    display: flex;
    gap: 10px;
    width: 100%;
}
.input-field{
    width: 50%;
    height: 55px;
    background: transparent;
    border: 2px solid #AAA;
    border-radius: 10px;
    padding-inline: 20px;
    outline: none;
    color: var(--color-white);
    font-size: 17px;
}
textarea{
    width: 100%;
    height: 250px;
    background: transparent;
    border: 2px solid #AAA;
    border-radius: 10px;
    padding: 15px 20px;
    outline: none;
    resize: none;
    font-size: 17px;
    color: var(--color-white);
}
.form-button>.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--text-color-third);
    color: var(--color-white);
}
.form-button>.btn:hover{
    background: var(--second-color);
}
.form-button i{
    font-size: 18px;
    rotate: -45deg;
}

/* ----- FOOTER BOX ----- */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    background: black;
    padding-block: 40px 60px;
    box-shadow: 2px 3px 8px 5px white;
}
.top-footer p{
    font-size: 25px;
    font-weight: 600;
    color: var(--color-white);
}
.middle-footer .footer-menu{
    display: flex;
}
.footer_menu_list{
    list-style: none;
}
.footer_menu_list a{
    text-decoration: none;
    color: var(--color-white);
    font-weight: 500;
    margin-inline: 20px;
}

.bottom-footer{
    font-size: 14px;
    margin-top: 10px;
    color: var(--color-white);
}
.bottom-footer a{
    color: var(--color-white);
}


/* ----- MEDIA QUERY == 1024px / RESPONSIVE ----- */
@media only screen and (max-width: 1024px){
    .featured-text{
        padding: 0;
    }
    .image, .image img{
        width: 320px;
        height: 320px;
    }
}

/* ----- MEDIA QUERY == 900px / RESPONSIVE ----- */
@media only screen and (max-width: 900px) {
    .nav-button{
        display: none;
    }
    .nav-menu.responsive{
        left: 0;
    }
    .nav-menu{
        position: fixed;
        top: 80px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(20px);
        width: 100%;
        min-height: 450px;
        height: 90vh;
        transition: .3s;
    }
    .nav_menu_list{
        flex-direction: column;
    }
    .nav-menu-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .featured-box{
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }
    .featured-text{
        width: 100%;
        order: 2;
        justify-content: center;
        align-content: flex-start;
        min-height: 60vh;
    }
    .social_icons{
        margin-top: 2em;
    }
    .featured-image{
        order: 1;
        justify-content: center;
        min-height: 150px;
        width: 100%;
        margin-top: 65px;
    }
    .image, .image img{
        width: 150px;
        height: 150px;
    }
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
    .col{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .about-info, .contact-info{
        width: 100%;
    }
    .project-container{
        justify-content: center;
    }
    .project-box{
        width: 80%;
    }
    

}

/* ----- MEDIA QUERY == 540px / RESPONSIVE ----- */

@media only screen and (max-width: 540px){
    .featured-name{
        font-size: 40px;
    }
    .project-box{
        width: 100%;
    }
    .form-inputs{
        flex-direction: column;
    }
    .input-field{
        width: 100%;
    }

}


@media (max-width: 1024px) {
    .section .top-header,
     .about-info p,
         .image-col img {
        margin-left: 0;
        text-align: center;
    }

     .col image-col {
        float: none;
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .row .about-info {
        padding: 0 20px;

    }
}



@media only screen and (max-width: 540px){
    .section{
        width: 140%;
        padding: 50px 20px;
    }
    .section .top-header  h1 {
        font-size: 40px;
    }

   .row .about-info p  {
        font-size: 30px;
    }
    .row .about-info .about-btn  {
        font-size: 17px;
        
    }
    .row .about-info .about-btn i  {
        font-size: 29px;
        
    }
}

@media only screen and (max-width: 540px){

    .section .row .contact-info{
        width: 100%;
        height: 500%;
    }
}



